/* src/App.css */

.body {
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', sans-serif;
  background-image: url('https://www.teahub.io/photos/full/229-2290417_background-yu-gi-oh.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden; /* Evita a rolagem vertical */
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  overflow: hidden;
}

.App {
  text-align: center;
  color: black;
  padding: 20px;
}
